<h1 class="blue">
  <i class="icon-people"></i> People
</h1>
<%= image_tag 'router.jpg' %>
<div style="background-image: url(<%= asset_path 'router.jpg' %>)">
  <br>
  <br>
  <br>
  <br>
  Find me in app/views/pages/index.html.erb
</div>
<div class="with-image">
  backgorun image
  <br>
  <br>
  <br>
  <br>
</div>
